body {
  background: url('../assets/sky-mountains.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1000px;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  z-index: 20;
  padding-top: 50px;
}

.header-font {
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

.header-image {
  border-radius: 50%;
  max-height: 170px;
  max-width: 170px;
}

.flex {
  display: flex;
  justify-content: center;
}

/* FLEX BOX STYLING FOR USER INPUT FORM */

.innerSearchBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}

.middleSearchBox {
  margin-top: 5%;
  margin-bottom: 5%;
}

.outerSearchBox {
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  margin-left: 10%;
  margin-right: 10%;
}

.md-whiteframe-z1 {
    box-shadow: none;
    background-color: white;
}

/* ELEMENTS WITHIN EACH FORM GROUP */

label {
  font-family: Geneva, Verdana, serif;
}

.extended {
   display: block;
   margin-top: 15px;
   content:" ";
}

/* BUTTONS AND ICONS */

.searchButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

md-icon {
  fill: black;
}

button:hover {
  opacity: .7;
}

/* ERROR MESSAGES */

.error-message {
  color: rgb(221,44,0);
  font-size: 12px;
}

/* STANDARD MEDIA QUERY BREAK POINTS IF NECESSARY FOR ADDITONAL FUNCTIONALITY */

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}

@-ms-viewport{
  width: device-width;
}