body {
  background: url('../assets/sky-mountains.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1000px;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  z-index: 20;
  padding-top: 50px;
}

.header-font {
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

.header-image {
  border-radius: 50%;
  max-height: 170px;
  max-width: 170px;
}

.flex {
  display: flex;
  justify-content: center;
}

/* ERROR MESSAGES */

.error-message {
  color: rgb(221,44,0);
  font-size: 12px;
}

/* PAYMENT FORM */

div.pay-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  z-index: 20;
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

button:hover {
  opacity: .7;
}

/* STANDARD MEDIA QUERY BREAK POINTS IF NECESSARY FOR ADDITONAL FUNCTIONALITY */

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}

@-ms-viewport{
  width: device-width;
}